<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC3U8HX1cKdPI4qOTvY_5SJi3fut_kcz8</string>
	<key>GCM_SENDER_ID</key>
	<string>859349806124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.backend</string>
	<key>PROJECT_ID</key>
	<string>backpack-ba3ca</string>
	<key>STORAGE_BUCKET</key>
	<string>backpack-ba3ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859349806124:ios:57194b2979a1ea2d7e7589</string>
</dict>
</plist>